.skill-container {
    min-height: 100%;
    width: 100%;
    padding: 200px 0  200px 0;
    background-color: #000;
    ;
    
}

.skill-wrapper {
    width: 90%;
    margin-left:70px;
}

.item-wrapper {
    margin-left:45%;
}

.item-wrapper img{
    width: 200px;
    height: 200px;
}


@media screen and (max-width: 1000px) {
    .item-wrapper img{
        width: 100px;
        height: 100px;
    }
    .skill-wrapper {
        width: 50%;
        margin-left:200px;
    }
}