.contact-container {
    width: 100%;
    min-height: 100%;
    padding: 150px 0 150px 0;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    width: 500px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(14, 56, 40);
    padding: 50px;
    margin-left: 35%;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}

.contact-wrapper form {
    display: flex;
    flex-direction: column;
}



.contact-wrapper form input{
    margin-bottom: 50px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
}

.contact-wrapper form textarea {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;

}

.contact-wrapper img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
    margin-top:-20px;
    margin-bottom: 20px;

}

@media screen and (max-width: 1000px) {
    .contact-wrapper {
        margin-left: 15%;
    }

}