.header-container {
    background-color: #1c2224;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 50px;
}

.header-wrapper {
    display: grid;
    margin-top: 120px;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}

.header-text {
    font-size: 30px;
    text-align: center;
    margin-left: 140px;
}

.header-text p {
    padding-bottom: 30px;
}

.header-text h1 {
    color: #136881;
}

.header-text button {
    margin-left: 20px;
}

.header-text h3 {
    margin-top: 30px;
    color: #5fb1b4;
}

.header-text p {
    margin-top: 30px;
}

.header-picture {
    margin-left: 100px;
}

.header-picture img {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    border-radius: 50%;
}

button {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: #136881;
    color: #fff;
    font-size: 18px;
    margin-left: 100px;
}

@media screen and (max-width: 1300px) {
    .header-wrapper {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-picture img {
        width: 300px;
        height: 300px;
        margin-top: 0;
    }

    .header-picture {
        margin-left: 0;
        margin-top: 20px;
    }

    .header-text {
        font-size: 20px;
        margin-left: 0;
    }

    .header-text button {
        margin-left: 0;
    }

    button {
        margin-left: 0;
    }
}