.header-container {
    background-color: #1c2224;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header-wrapper {
    display: grid;
    margin-top: 120px;
    grid-template-columns: 1fr 1fr ;
    max-width: 100%;
}

.header-text{
    font-size: 30px;
    text-align: center;
    margin-left: 140px;
}

.header-text h1 {
    color: #136881;
}

.header-text h3 {
    margin-top: 30px;
    color: #5fb1b4;
}

.header-text p {
    margin-top: 30px;
}

.header-picture {
    margin-left: 100px;
}


.header-picture img {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    border-radius:50%;
}

@media screen and (max-width: 1300px) {
    .header-wrapper {
        grid-template-columns: 1fr ;
        justify-content: center;
        align-items: center;
        
    }
    .header-picture img {
        width: 500px;
        height: 500px;
        margin-top: -50px;
    }

    .header-picture {
        margin-left: 100px;
        margin-top: 50px;
    }

    .header-text{
        font-size: 20px;
        margin-left: 50px;
    }

}